@use './scss/block/core/button';
@use './scss/block/core/group';
@use './scss/block/core/image';
@use './scss/block/core/navigation';
@use './scss/block/core/query-pagination';
@use './scss/block/core/search';

@use './scss/block/multistore/custom-comment';
@use './scss/block/multistore/megamenu';
@use './scss/block/multistore/price';
@use './scss/block/multistore/product';
@use './scss/block/multistore/product-downloads';
@use './scss/block/multistore/product-gallery';
@use './scss/block/multistore/product-grouping-toggle';
@use './scss/block/multistore/product-reviews';
@use './scss/block/multistore/product-variants';
@use './scss/block/multistore/product-variants-preview';
@use './scss/block/multistore/product-variants-switch';
@use './scss/block/multistore/scrollspy';
@use './scss/block/multistore/simplified-product-name';
@use './scss/block/multistore/slider';
@use './scss/block/multistore/modal';

@use './scss/block/woocommerce/woocommerce';
@use './scss/block/woocommerce/cart';
@use './scss/block/woocommerce/checkout';
@use './scss/block/woocommerce/catalog-sorting';
@use './scss/block/woocommerce/minicart';
@use './scss/block/woocommerce/myaccount';
@use './scss/block/woocommerce/product-categories';
@use './scss/block/woocommerce/product-filter-active';
@use './scss/block/woocommerce/product-filters';
@use './scss/block/woocommerce/product-template';
@use './scss/block/woocommerce/quantity-selector';
@use './scss/block/woocommerce/store-notices';

input, select, textarea, button,
table, td, th {
	font-family: inherit;
}

.multistore-block-product.is-style-card {
	padding: var(--wp--preset--spacing--50) var(--wp--preset--spacing--50);
	border: 1px solid transparent;
}

.multistore-block-product.is-style-card:hover {
	border: 1px solid var(--wp--preset--color--gray-80);
	border-radius: 0.5rem;
}


.button {
	padding: 0.875rem 1.5rem;
	border-radius: 0.5rem;
	font-size: 0.9375rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.2s ease;
	border: 1px solid transparent;
	text-align: center;

	&--primary {
		background-color: var(--wp--preset--color--primary);
		color: var(--wp--preset--color--white);
		border-color: var(--wp--preset--color--primary);

		&:hover {
			background-color: var(--wp--preset--color--primary-50);
			border-color: var(--wp--preset--color--primary-50);
		}
	}

	&--secondary {
		background-color: var(--wp--preset--color--wite);
		color:  var(--wp--preset--color--secondary);
		border-color:  var(--wp--preset--color--secondary);

		&:hover {
			background-color: var(--wp--preset--color--secondary);
			color: var(--wp--preset--color--white);
			border-color: var(--wp--preset--color--secondary);
		}
	}
}