
.woocommerce-account {

	.woocommerce-Addresses {
		display: flex;
		gap: var(--wp--preset--spacing--60);
		flex-direction: column;
	}
	.woocommerce-Address {
		&__items {
			display: grid;
			gap: var(--wp--preset--spacing--40);
			grid-template-columns: repeat( auto-fill, minmax( min( 240px, 100% ), 1fr ) );
		}

		&__item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 150px;

			gap: var(--wp--preset--spacing--40);
			font-size: var(--wp--preset--font-size--small);

			border: 2px solid var(--wp--preset--color--contrast-40);
			border-radius: 1rem;

			padding: var(--wp--preset--spacing--40);

			&:first-child:not(:last-child) {
				border-color: var(--wp--preset--color--primary);
			}

			a {
				color: var(--wp--preset--color--primary);
				&:hover {
					text-decoration: underline;
				}
			}

			.address-item {
				font-style: normal;

				&.is-individual .address-item__name,
				.address-item__companyname {
					font-weight: bold;
					padding-bottom: var(--wp--preset--spacing--30);
					display: inline-flex;
				}
			}
		}
	}


	.add-item {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--60);
		color: var(--wp--preset--color--primary);
		background-color: var(--wp--preset--color--accent);
		border-color: var(--wp--preset--color--accent);
		
		font-size: var(--wp--preset--font-size--small);
		font-weight: 700;
		text-decoration: none;
		transition: background-color 0.2s ease;
	}

	.address-actions {
		display: flex;
		flex-wrap: wrap;
		row-gap: var(--wp--preset--spacing--30);
		column-gap: var(--wp--preset--spacing--40);
		font-size: var(--wp--preset--font-size--small);
	}
}