// Edit account page styles

.edit-account {
	width: 100%;
	max-width: 420px;
}

.myaccount-edit-account {
	&__title {
		font-size: var(--wp--preset--font-size--large);
		font-weight: 700;
		margin-bottom: var(--wp--preset--spacing--40);
		color: var(--wp--preset--color--contrast);
	}

	&__actions {
		display: flex;
		gap: var(--wp--preset--spacing--40);
		font-size: var(--wp--preset--font-size--small);
		margin-bottom: var(--wp--preset--spacing--50);
		a {
			color: var(--wp--preset--color--primary);
			text-decoration: none;
			font-weight: 500;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}


.inline-input {
	position: relative;
	display: block;

	&__button {
		position: absolute;
		right: var(--wp--preset--spacing--40);
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
		background: transparent;
		border: none;
		color: var(--wp--preset--color--primary);
		font-size: var(--wp--preset--font-size--small);
		font-weight: 400;
		cursor: pointer;
		transition: opacity 0.2s ease;
		opacity: 0;
		visibility: hidden;

		&:hover {
			text-decoration: underline;
		}

		&.is-visible {
			opacity: 1;
			visibility: visible;
		}

		&.is-loading {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	&__success {
		position: absolute;
		right: var(--wp--preset--spacing--40);
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		height: 24px;
		display: none;
		align-items: center;
		justify-content: center;
		color: #10B981;

		&.is-visible {
			display: flex;
		}

		svg {
			width: 24px;
			height: 24px;
		}
	}

	&__error {
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: var(--wp--preset--spacing--20);
		font-size: var(--wp--preset--font-size--x-small);
		color: #EF4444;
		display: none;

		&.is-visible {
			display: block;
		}
	}

	&.has-error {
		input {
			border-color: #EF4444;
		}
	}
}
