
.menu-main {
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.menu-main .wp-block-navigation-item > * {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

header .wp-block-search.wp-block-search__button-only .wp-block-search__input {
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid var(--wp--preset--color--base);
	color: var(--wp--preset--color--base);
	padding: var(--wp--preset--spacing--10);
	outline: none;
}

.wp-block-search.wp-block-search__button-only .wp-block-search__button {
	padding: var(--wp--preset--spacing--30);
	background-color: transparent;
}

.menu-account {
	display: flex;
	align-items: stretch;
}
.menu-main .wp-block-navigation-item > * {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.menu-account.wp-block-navigation .has-child .wp-block-navigation__submenu-container {
	right: 0;
	left: auto;
	border-radius: 0 0 1rem 1rem;
	border: 0;
	padding: var(--wp--preset--spacing--30);
}


.multistore-block-slider .splide[data-pagination-desktop-position$="inside"] .splide__pagination,
.multistore-block-slider .splide[data-pagination-tablet-position$="inside"] .splide__pagination,
.multistore-block-slider .splide[data-pagination-mobile-position$="inside"] .splide__pagination {
	background-color: var(--wp--preset--color--contrast);
	padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
	border-radius: 100px;
	width: auto;
	left: 50%;
	right: auto;
	transform: translateX(-50%);
}

.multistore-block-slider .splide[data-pagination-desktop-position$="bottom-inside"] .splide__pagination {
	bottom: var(--wp--preset--spacing--50);
}

.multistore-block-megamenu .wp-block-navigation-link {
	font-weight: bold;
}
.multistore-block-megamenu .wp-block-navigation-link a:hover {
	color: var(--wp--preset--color--primary);
	text-decoration: underline;
}

.multistore-block-product.is-style-card {
	padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
	border: 1px solid transparent;
}

.multistore-block-product.is-style-card:hover {
	border: 1px solid var(--wp--preset--color--gray-80);
	border-radius: 0.5rem;
}

.multistore-block-price-current {
	font-weight: 1.2em;
	font-weight: bold;
}
.multistore-block-price-current.multistore-block-price-current--promotion {
	color: var(--wp--preset--color--secondary);
}

.multistore-block-price-regular {
	/* color: var(--wp--preset--color--gray-80); */
	text-decoration: line-through;
}