.is-style-card {
	position: relative;
	&:has(a) {
		border: 1px solid transparent;
		box-sizing: border-box;
		&:hover {
			border: 1px solid var(--wp--preset--color--gray-80);
			border-radius: 0.5rem;
		}

		a:after {
			content: '';
			position: absolute;
			inset: 0;
			z-index: 1;
			display: block;
		}
	}
	
}