.menu-main {
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	.wp-block-navigation-item > * {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
	}
}



.menu-account {
	display: flex;
	align-items: stretch;
	&.wp-block-navigation {
		.has-child {
			.wp-block-navigation__submenu-container {
				right: 0;
				left: auto;
				border-radius: 0 0 1rem 1rem;
				border: 0;
				padding: var(--wp--preset--spacing--30);
			}
		}
	}
}
