
.wp-block-query-pagination {
	.wp-block-query-pagination-numbers {
		display: inline-flex;
		gap: 0.75rem;
		.page-numbers {
			display: flex;
			height: 3rem;
			align-items: center;
			justify-content: center;
			border-radius: 0.5rem;
			line-height: 1;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
			&:not(.dots) {
				width: 3rem;
				border: 1px solid currentColor;
			}
			&.current {
				background-color: var(--wp--preset--color--primary);
				color: var(--wp--preset--color--white);
				border-color: var(--wp--preset--color--primary);
			}
		}
	}
}