
.multistore-block-price-current {
	font-weight: 1.2em;
	font-weight: bold;
	&.multistore-block-price-current--promotion {
		color: var(--wp--preset--color--secondary);
	}
}

.multistore-block-price-regular {
	text-decoration: line-through;
}
