
.multistore-block-product-variants {
	&__option {
		background-color: var(--wp--preset--color--white);
		border: 1px solid var(--wp--preset--color--gray-80);
		border-radius: 0.5rem;
		&:hover {
			text-decoration: none;
		}
		&--active {
			border-color: var(--wp--preset--color--primary);
			color: var(--wp--preset--color--primary);
			&::after {
				display: none;
			}
		}
	}
}