.wp-block-multistore-product {
	position: relative;
	&.is-style-card {
		&:hover {
			border: 0;
		}
		&:focus-within {
			border: 1px solid var(--wp--preset--color--gray-80);
			border-radius: 0.5rem;
		}

		a {
			&:after {
				content: '';
				position: absolute;
				inset: 0;
				z-index: 1;
				display: block;
			}
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}