@use './block/core/group';
@use './block/core/image';
@use './block/core/navigation';
@use './block/core/query-pagination';
@use './block/core/search';

@use './block/multistore/custom-comment';
@use './block/multistore/megamenu';
@use './block/multistore/price';
@use './block/multistore/product';
@use './block/multistore/product-gallery';
@use './block/multistore/product-reviews';
@use './block/multistore/product-variants';
@use './block/multistore/product-variants-preview';
@use './block/multistore/scrollspy';
@use './block/multistore/simplified-product-name';
@use './block/multistore/slider';

@use './block/woocommerce/catalog-sorting';
@use './block/woocommerce/product-categories';
@use './block/woocommerce/product-filter-active';
@use './block/woocommerce/product-filters';
@use './block/woocommerce/product-template';


.multistore-block-product.is-style-card {
	padding: var(--wp--preset--spacing--50) var(--wp--preset--spacing--50);
	border: 1px solid transparent;
}

.multistore-block-product.is-style-card:hover {
	border: 1px solid var(--wp--preset--color--gray-80);
	border-radius: 0.5rem;
}
