# Node modules
node_modules/
package-lock.json
yarn.lock

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
/assets/dist/
/assets/css/
/assets/js/
