.woocommerce-checkout {
	main {
		.woocommerce {
			max-width: var(--wp--style--global--content-size);
			margin-inline: auto;

			/* całość order-review ma nie tworzyć nowej kolumny */
			#order_review,
			.shop_table {
				display: contents;
			}

			.woocommerce-checkout {
				display: grid;
				grid-template-columns: 1fr 450px;
				gap: var(--wp--preset--spacing--60);
				grid-template-areas: 
					"client-details order-summary"
					"shipping order-summary"
					"payment order-summary"
					"cart-items order-summary";
				
				&__heading {
					font-size: var(--wp--preset--font-size--large);
					font-weight: 900;
					margin-bottom: var(--wp--preset--spacing--60);
				}

				&__customer-details {
					grid-area: client-details;
				}
				&__shipping {
					grid-area: shipping;
				}
				&__payment {
					grid-area: payment;
				}
				&__cart-items {
					grid-area: cart-items;
				}
				&__order-summary {
					grid-area: order-summary;
				}

				#payment {
					background-color: transparent;
					padding: 0;
					ul.payment_methods {
						padding: 0;
					}
				}

				ul.payment_methods,
				ul#shipping_method {
					padding: 0;
					border-bottom: 0;
					gap: var(--wp--preset--spacing--40);
					> li {
						font-weight: 300;
						margin: 0;
						border-bottom: 1px solid #f6f6f6;
						line-height: 1;
						> input {
							margin: 0 var(--wp--preset--spacing--40) 0 0;
							vertical-align: middle;
							&[type="radio"] {
								width: 1.25rem;
								height: 1.25rem;
								accent-color: var(--wp--preset--color--primary);
							}
						}
						> label {
							display: inline-block;
							cursor: pointer;
							margin: 0;
							padding-block: var(--wp--preset--spacing--40);
							margin-right: var(--wp--preset--spacing--40);
							img {
								width: 4rem;
								height: 1.5rem;
								object-fit: contain;
								background-position: center;
								margin-right: var(--wp--preset--spacing--40);
							}
						}
					}
				}

			}

		}
	}
}

.woocommerce-checkout-wrapper {
	margin: 0 auto;
	padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--50);
}


.woocommerce-cart-wrapper {
	margin: 0 auto;
	padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--50);

	&__title {
		text-align: center;
		font-size: var(--wp--preset--font-size--xx-large);
		font-weight: 900;
		margin-bottom: var(--wp--preset--spacing--60);
	}
}

.woocommerce-cart-layout {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--wp--preset--spacing--60);

	@media (min-width: 1024px) {
		grid-template-columns: 2fr 1fr;
	}
}