// My Account page styles

@use 'myaccount/order';
@use 'myaccount/addresses';
@use 'myaccount/edit-account';

.woocommerce-account {
	main .woocommerce {
		max-width: none;
	}

	.woocommerce-myaccount-wrapper {
		margin: 0 auto;
		padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--50);
	}

	.woocommerce-myaccount-title {
		font-size: var(--wp--preset--font-size--xx-large);
		font-weight: 900;
		margin-bottom: var(--wp--preset--spacing--50);
		color: var(--wp--preset--color--contrast);
	}
	
	.woocommerce-MyAccount-navigation {
		float: none;
		width: 100%;
		margin-bottom: var(--wp--preset--spacing--60);
		// Tabs navigation
		ul {
			display: flex;
			gap: 0;
			list-style: none;
			padding: 0;
			margin: 0 0 var(--wp--preset--spacing--60);

			li {
				margin: 0;
				padding: 0;

				a {
					display: block;
					padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--60);
					font-size: var(--wp--preset--font-size--base);
					font-weight: 400;
					color: var(--wp--preset--color--contrast);
					text-decoration: none;
					border-bottom: 2px solid transparent;
					transition: all 0.2s ease;

					&:hover {
						color: var(--wp--preset--color--primary);
						text-decoration: none;
					}
				}

				&.is-active a {
					color: var(--wp--preset--color--primary);
					font-weight: 700;
					border-bottom-color: var(--wp--preset--color--primary);
					text-decoration: none;
				}
			}
		}
	}

	// My Account content
	.woocommerce-MyAccount-content {
		padding: 0;
		float: none;
		width: 100%;
		display: grid;
		gap: var(--wp--preset--spacing--60);

		h2 {
			font-size: var(--wp--preset--font-size--large);
			font-weight: 700;
			margin-block-start: 0;
			margin-block-end: var(--wp--preset--spacing--40);
		}
	}
}

.login-register-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: var(--wp--preset--spacing--60);
	.login-register {
		max-width: 420px;
		flex-shrink: 1;
		flex-grow: 1;
		&--separator {
			width: 1px;
			background-color: var(--wp--preset--color--gray-80);
			flex-grow: 0;
		}
		&__title {
			text-align: center;
			font-size: var(--wp--preset--font-size--xx-large);
		}
		&__form {

		}
		&__form-options {
			display: flex;
			justify-content: space-between;
			gap: var(--wp--preset--spacing--40);
			padding-block: var(--wp--preset--spacing--30) var(--wp--preset--spacing--60);
		}

		.woocommerce-form-login__rememberme {
			margin-bottom: 0;
		}

		.lost_password a {
			color: var(--wp--preset--color--primary);
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}
.lost_reset_password {
	max-width: 420px;
	margin: 0 auto;
	// flex-shrink: 1;
	// flex-grow: 1;
	&__title {
		text-align: center;
		font-size: var(--wp--preset--font-size--xx-large);
	}
	&__form {
		.woocommerce-form-login__rememberme {
			margin-bottom: 0;
		}
	}
}

.button {
	&--back-to-login {
		text-align: center;
		color: var(--wp--preset--color--primary);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}