.wc-block-product-filters:has(.wc-block-product-filter-removable-chips__items):not(:has(.wc-block-product-filter-removable-chips__item)) {
	visibility: hidden;
}

.wc-block-product-filters {
	.wp-block-woocommerce-product-filter-active {
		.wc-block-product-filter-removable-chips {
			&__item {
				font-size: var(--wp--preset--font-size--x-small);
				border-radius: 100px;
				background-color: var(--wp--preset--color--primary);
				color: var(--wp--preset--color--white);
				padding: 0 var(--wp--preset--spacing--20) 0 var(--wp--preset--spacing--30);
			}
		}
	}
}
