div.wc-block-add-to-cart-form.wc-block-add-to-cart-form--stepper form.cart div.wc-block-components-quantity-selector.quantity {
	background-color: #F6F6F6;
}

.wc-block-components-quantity-selector {
	background-color: var(--wp--preset--color--accent);
	font-weight: bold;
	font-size: var(--wp--preset--font-size--medium);
	border: 0;
	border-radius: 0.5rem;
	&__button {
		font-weight: inherit !important;
		font-size: inherit !important;
	}
	.qty {
		margin: 0 !important;
		max-width: 3ch;
		width: 3ch !important;
		font-size: inherit;
		font-weight: inherit;
	}
}