.multistore-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	align-items: center;
	justify-content: center;

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		cursor: pointer;
	}

	&__container {
		position: relative;
		width: 90%;
		max-width: 480px;
		background-color: #FFFFFF;
		border-radius: 1rem;
		box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
		z-index: 1;
		animation: modalSlideIn 0.3s ease;
		overflow: clip;

		@media (max-width: 768px) {
			max-width: calc(100% - 2rem);
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--40);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
	}

	&__title {
		font-size: var(--wp--preset--font-size--medium);
		font-weight: normal;
		margin: 0;
		color: var(--wp--preset--color--contrast);

	}

	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		padding: 0;
		background: transparent;
		border: none;
		color: #000000;
		cursor: pointer;
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.6;
		}

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&__content {
		padding: 0;
	}

	&__body {
		padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--40);
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--40);
	}

	&__footer {
		display: flex;
		gap: var(--wp--preset--spacing--40);
		padding: var(--wp--preset--spacing--30);
		justify-content: flex-end;

		.button {
			// flex: 1;
			min-width: 150px;
		}
	}

	&__error {
		padding: var(--wp--preset--spacing--40);
		background-color: var(--wp--preset--color--white);
		color: var(--wp--preset--color--secondary);
		border-left: 4px solid var(--wp--preset--color--secondary);;
		border-radius: 0.5rem;
		font-size: 0.875rem;
	}

	&__form {
		display: contents;
	}
}

@keyframes modalSlideIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
