.wp-block-multistore-product {
	position: relative;
	&.is-style-card {
		a {
			&:after {
				content: '';
				position: absolute;
				inset: 0;
				z-index: 1;
				display: block;
			}
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}