
.multistore-block-product-variants-switch {
	gap: var(--wp--preset--spacing--40);
	&__group {
		gap: 0.25rem;
	}
	&__label {
		font-weight: 300;
		font-size: var(--wp--preset--font-size--base);
		color: var(--wp--preset--color--gray-60);
	}

	&__options {
		--border-color: transparent;
		--hover-background-color: transparent;
		&.multistore-block-product-variants-switch__options--label_only {
			--border-color: var(--wp--preset--color--gray-80);
			--hover-background-color: var(--wp--preset--color--accent);
		}
	}
	&__option {
		background-color: transparent;
		border: 1px solid var(--border-color);
		border-radius: 0.5rem;
		font-weight: 300;
		&:hover {
			text-decoration: none;
			border-color: var(--wp--preset--color--gray-80);
			background-color: var(--hover-background-color, transparent);
			font-weight: 300;
		}
		&--active,
		&--current {
			border-color: var(--wp--preset--color--primary);
			color: var(--wp--preset--color--primary);
			&::after {
				display: none;
			}
		}
	}
}