.wc-block-product-categories {
	&.is-list {
		.wc-block-product-categories-list {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: var(--wp--preset--spacing--50);
			.wc-block-product-categories-list {
				margin-top: var(--wp--preset--spacing--50);
				margin-left: var(--wp--preset--spacing--50);
			}
		}
	}
}
