.wp-block-woocommerce-product-filter-attribute {
	// > p {
	// 	position: relative;
	// 	cursor: pointer;
	// 	font-size: var(--wp--preset--font-size--medium);
	// 	&::after {
	// 		content: '+';
	// 		position: absolute;
	// 		top: 50%;
	// 		right: 0;
	// 		transform: translateY(-50%);
	// 		color: var(--wp--preset--color--contrast);
	// 		display: flex;
	// 		justify-content: center;
	// 		align-items: center;
	// 		width: var(--range-circle-size);
	// 		height: var(--range-circle-size);
	// 		font-size: 1.5rem;
	// 		font-weight: bold;
	// 	}
	// }
	// .wc-block-product-filter-checkbox-list {
	// 	height: 0;
	// 	overflow: hidden;
	// }
	// &:has(.wc-block-product-filter-checkbox-list__input:checked),
	// &.active {
	// 	> p::after {
	// 		content: '-';
	// 	}

	// 	.wc-block-product-filter-checkbox-list {
	// 		height: auto;
	// 		overflow: visible;
	// 	}
	// }
}

.wc-block-product-filter-checkbox-list {
	--checkbox-size: 1.5rem;

	&__items {
		display: flex;
		flex-direction: column;
		padding-inline-start: var(--wp--preset--spacing--50);
		padding-inline-end: var(--wp--preset--spacing--30);
		gap: 0;
	}
	&__item {
		padding-block: var(--wp--preset--spacing--40);
	}
	&__label {
		display: flex;
		gap: var(--wp--preset--spacing--40);
		font-weight: 300;
		line-height: 1;
		align-items: center;
	}
	&__text-wrapper,
	&__text {
		font-size: inherit;
	}

	&__input-wrapper {
		&::before {
			box-sizing: border-box;
			width: var(--checkbox-size);
			height: var(--checkbox-size);
			background-color: transparent;
			border: 1px solid var(--wp--preset--color--gray-80);
			border-radius: 0.25rem;
			opacity: 1;
		}
		&:has(.wc-block-product-filter-checkbox-list__input[type=checkbox]:checked) {
			color:white;
			&::before {
				background-color: var(--wp--preset--color--primary);
				border-color: var(--wp--preset--color--primary);
			}
		}
	}

	.wc-block-product-filter-checkbox-list__input[type=checkbox] {
		width: var(--checkbox-size);
		height: var(--checkbox-size);
	}

	svg.wc-block-product-filter-checkbox-list__mark {
		width: 1rem;
		height: 1rem;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.wc-block-product-filter-price-slider {
	.range-bar {
		color:var(--wp--preset--color--primary);
	}
	.text {
		input[type=text] {
			box-sizing: border-box;
			line-height: 1;
			border: 1px solid var(--wp--preset--color--gray-80);
			border-radius: 0.5rem;
			font-size: var(--wp--preset--font-size--base);
			width: 100%;
			max-width: 7rem;
			height: 3rem;
			text-align: center;
			padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--30);
		}
	}
}


.wc-block-product-filter-price-slider__range {
	--range-circle-size: 1.5rem;
	margin-block: calc(var(--range-circle-size) * 0.5 + var(--wp--preset--spacing--40));

	input[type=range]::-webkit-slider-thumb {
		appearance: none;
		background: var(--wp--preset--color--primary);
		background-position: 0 0;
		border: 2px solid var(--wp--preset--color--primary);
		border-radius: 100%;
		box-sizing: content-box;
		cursor: pointer;
		height: var(--range-circle-size);
		margin: calc(-0.5 * var(--range-circle-size)) 0 0;
		padding: 0;
		pointer-events: auto;
		-webkit-transition: transform .2s ease-in-out;
		transition: transform .2s ease-in-out;
		vertical-align: top;
		width: var(--range-circle-size);
		z-index: 20
	}

	input[type=range]::-webkit-slider-thumb:hover {
		background: #fff;
		border-color: var(--wp--preset--color--primary);
	}

	input[type=range]::-moz-range-thumb {
		appearance: none;
		background: var(--wp--preset--color--primary);
		background-position: 0 0;
		border: 2px solid var(--wp--preset--color--primary);
		border-radius: 100%;
		box-sizing: content-box;
		cursor: pointer;
		height: var(--range-circle-size);
		margin: 0;
		padding: 0;
		pointer-events: auto;
		-moz-transition: transform .2s ease-in-out;
		transition: transform .2s ease-in-out;
		vertical-align: top;
		width: var(--range-circle-size);
		z-index: 20
	}

	input[type=range]::-moz-range-thumb:hover {
		background: #fff;
		border-color: var(--wp--preset--color--primary);
	}

	input[type=range]::-ms-thumb {
		appearance: none;
		background: var(--wp--preset--color--primary);
		background-position: 0 0;
		border: 2px solid var(--wp--preset--color--primary);
		border-radius: 100%;
		box-sizing: content-box;
		cursor: pointer;
		height: var(--range-circle-size);
		margin: 0;
		padding: 0;
		pointer-events: auto;
		-ms-transition: transform .2s ease-in-out;
		transition: transform .2s ease-in-out;
		vertical-align: top;
		width: var(--range-circle-size);
		z-index: 20
	}

	input[type=range]::-ms-thumb:hover {
		background: #fff;
		border-color: var(--wp--preset--color--primary);
	}

	input[type=range]:focus::-webkit-slider-thumb {
		background: #fff;
		border-color: var(--wp--preset--color--primary);
	}

	input[type=range]:focus::-moz-range-thumb {
		background: #fff;
		border-color: var(--wp--preset--color--primary);
	}

	input[type=range]:focus::-ms-thumb {
		background: #fff;
		border-color: var(--wp--preset--color--primary);
	}

	input[type=range]::-webkit-slider-runnable-track {
		appearance: none;
		cursor: default;
		height: 1px;
		outline: 0
	}

	input[type=range]::-moz-range-track {
		appearance: none;
		cursor: default;
		height: 1px;
		outline: 0
	}

	input[type=range]::-webkit-slider-progress {
		appearance: none;
		background: transparent;
		border: 0!important;
		margin: 0;
		outline: none;
		padding: 0!important
	}

	input[type=range]::-moz-range-progress {
		appearance: none;
		background: transparent;
		border: 0!important;
		margin: 0;
		outline: none;
		padding: 0!important
	}

	input[type=range]::-moz-focus-outer {
		border: 0
	}

	input[type=range].min::-webkit-slider-thumb {
		background-position-x: left;
		margin-left: -2px
	}

	input[type=range].min::-moz-range-thumb {
		background-position-x: left;
		transform: translate(-2px,2px)
	}

	input[type=range].min::-ms-thumb {
		background-position-x: left
	}

	input[type=range].max::-webkit-slider-thumb {
		background-position-x: right;
		margin-left: 2px
	}

	input[type=range].max::-moz-range-thumb {
		background-position-x: right;
		transform: translate(2px,2px)
	}

	input[type=range].max::-ms-thumb {
		background-position-x: right
	}

	input[type=range i] {
		color: -internal-light-dark(#101010,#fff);
		padding: initial
	}

}

