.wp-block-woocommerce-product-filter-attribute {
	> p {
		position: relative;
		cursor: pointer;
		font-size: var(--wp--preset--font-size--medium);
		&::after {
			content: '+';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			color: var(--wp--preset--color--contrast);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
			font-weight: bold;
		}
	}
	.wc-block-product-filter-checkbox-list {
		height: 0;
		overflow: hidden;
	}
	&:has(.wc-block-product-filter-checkbox-list__input:checked),
	&.active {
		> p::after {
			content: '-';
		}

		.wc-block-product-filter-checkbox-list {
			height: auto;
			overflow: visible;
		}
	}
}

.wc-block-product-filter-price-slider {
	.range-bar {
		color:var(--wp--preset--color--primary);
	}
	&__right,
	&__left {
		input[type=text] {
			text-align: center;
			border: 1px solid var(--wp--preset--color--gray-80);
			padding: var(--wp--preset--spacing--20);
		}
	}
}

.wc-block-product-filter-checkbox-list__input-wrapper:before,
input[type=checkbox].wc-block-product-filter-checkbox-list__input,
svg.wc-block-product-filter-checkbox-list__mark {
	width: 1.5rem;
	height: 1.5rem;
}
.wc-block-product-filter-checkbox-list__text {
	font-size: 1.25rem;
}
	

.wc-block-product-filter-checkbox-list__items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}