.wp-block-woocommerce-product-filter-active {
	.wc-block-product-filter-removable-chips {
		&__item {
			font-size: var(--wp--preset--font-size--small);
			border-radius: 100px;
			background-color: var(--wp--preset--color--primary);
			color: var(--wp--preset--color--white);
			padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
		}
	}
}